
html,
body {
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
    height: 100%;
    padding-left:25;
}
p {
    width: 450px;
}
a {
    text-decoration: none;
    color: #666
}
a img {
    border: 0
}
a:hover {
    text-decoration: none
}
a:active {
    outline: none
}
h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
h3 {
    padding-top: 20px;
    padding-bottom: 10px; 
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: fixed;
  z-index: 100;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.extraInput {
    width: 20px;
    float:left;
    margin: 5px;
}

.extraInputDescr {
    margin: 5px;
    width: 100px;
    float: left;
    color: #999;
}

#moreInputs {
    display: inline-grid; 
    grid-template-columns: 200px 200px;
}

.select {
    height: 27px;
    width: 60px;
    border: 2px solid #ccc;
    -moz-border-radius: 6px;
    font-size: 13px;
    background-color: #fff;
    border-right: 1px solid #666
}
.select option {
    border: 1px solid #BBD8FB
}

#cbtn {
    padding: 5px;
    margin-right: 70px;
    margin-bottom: 2px;
}
.l-btn {
    float:left;
    margin: 5px;
}
.btn {
    float:left;
} 

#rgxChckbx {
    float:left;
    padding-left: 30px;
}  



#keyboard {
    left: 54px;
    width: 450px;
}

#area {
    position: relative;
    height: 132px;
    width: 450px;
    top: 0px;
    left: 0px;
    border: 3px solid #b5b5b5;
    border-bottom: 0px;
    color: #444;
    font-family: 'Simplified Arabic', 'Times New Roman';
    font-size: 14pt;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    padding-right: 4px;
    overflow: auto
}
#k {
    position: relative;
    top: 0px;
    left: 0px;
    height: 256px;
    width: 450px;
    outline: 0
}



* html button.btn {
    
    padding-bottom: 1px
}
html:not([lang *= ""])
