/* amiri-regular - latin-ext_arabic_latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amiri Regular'), local('Amiri-Regular'),
       url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiri-v13-latin-ext_arabic_latin-regular.svg#Amiri') format('svg'); /* Legacy iOS */
}

a {
    text-decoration: none;
    color: #666
}
a img {
    border: 0
}
a:hover {
    text-decoration: none
}
a:active {
    outline: none
}
html, body {
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
    height: 100%;
    padding-left:25;
}
* html button.btn {
    
    padding-bottom: 1px
}
html:not([lang *= ""])

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
h3 {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-right: 10px;
}
input {
    padding: 1px;
}
p {
    width: 450px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #70d4bb;
}
td:nth-child(1) {
    width: 75px;
}
td:nth-child(2) {
    width: 150px;
}
td:nth-child(3) {
    width: 120px;
}
td:nth-child(4) {
    width: 120px;
}
textarea {
  resize: none;
}



.btn {
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.extraInput {
    width: 20px;
    float:left;
    margin: 5px;
}
.extraInputDescr {
    margin: 5px;
    width: 100px;
    float: left;
    color: #999;
}
.extraRow {
    width: 450px;
    height: 45px;
    position: static;
}
.fivePxMargin {
    margin: 5px;
}
.footer {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 10px;
    color: #999;
    width: 450px;
}
.keyCharacter {
    font-size: 14px;
    font-family: 'Amiri', serif;
    padding-top: 2px; 
    padding-bottom: 5px;
    padding-left: 5px; 
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}
.keyGrid {
    width: 100%;
    display: inline-grid; 
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px;
    padding-left: 7px;
    padding-top: 7px;
    z-index: 1;
}
.l-btn {
    float:left;
}
.regexInput {
    width: 70px;
    min-height: 20px;
}
.regexTitle {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.regexClass {
    display: none;
}
.rgxChckbx {
    float:left;
    padding-left: 10px;
}
.rowBgd {
    position: absolute;
    width: 450px;
    height: 45px;
    z-index: -1;
}
.rowMapped {
    position: absolute;
    width: 450px;
    height: 45px;
    opacity: 0.01;
    z-index: 10;
}
.select {
    height: 27px;
    width: 60px;
    border: 2px solid #ccc;
    -moz-border-radius: 6px;
    font-size: 13px;
    background-color: #fff;
    border-right: 1px solid #666
}
.select option {
    border: 1px solid #BBD8FB
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: fixed;
  z-index: 100;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}



#addNewKeyInput {
    padding-top: 10px;
}
#area {
    position: relative;
    height: 132px;
    width: 450px;
    top: 0px;
    left: 0px;
    border: 3px solid #b5b5b5;
    border-bottom: 0px;
    color: #444;
    font-family: 'Amiri', serif;
    font-size: 14pt;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    padding-right: 4px;
    overflow: auto
}
#cheatsheet {
    display: none;
    position: fixed;
    left: 525px;
    top: 41px;
    height: 100vh;
    overflow: auto;
}
#k {
    position: relative;
    top: 0px;
    left: 0px;
    height: 156px;
    width: 450px;
    outline: 0
}
#keyboard {
    left: 54px;
    width: 450px;
}
#moreInputs {
    display: inline-grid; 
    grid-template-columns: 200px 200px;
}





